
<ion-content>
  <ion-button  [routerLink]="['/listagem-produto']" expand="full" color="primary">Listar Produtos</ion-button>
  <ion-button  [routerLink]="['/cadastro-produto']" expand="full" color="primary">Cadastro Produto</ion-button>
  <ion-button  [routerLink]="['/listagem-pessoa']" expand="full" color="primary">Listar Clientes</ion-button>
  <ion-button  [routerLink]="['/listagem-funcionario']" expand="full" color="primary">Listar Funcionarios</ion-button>
  <ion-button  [routerLink]="['/cadastro-pessoa']" expand="full" color="primary">Cadastro Pessoa</ion-button>
</ion-content>
