
<ion-content>
  <ion-button  [routerLink]="['/listagem-produto']" expand="full" color="success">Produtos</ion-button>
  <ion-button  [routerLink]="['/listagem-pessoa']" expand="full" color="success">Clientes</ion-button>
  <ion-button  [routerLink]="['/listagem-funcionario']" expand="full" color="success">Funcionarios</ion-button>
  <ion-button  [routerLink]="['/listagem-venda']" expand="full" color="success">Vendas</ion-button>
  <ion-button  [routerLink]="['/cadastro-produto']" expand="full" color="primary">Cadastro Produto</ion-button>
  <ion-button  [routerLink]="['/cadastro-pessoa']" expand="full" color="primary">Cadastro Pessoa</ion-button>
  <ion-button  [routerLink]="['/cadastro-venda']" expand="full" color="light">Cadastro Venda</ion-button>
</ion-content>
