<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listagem de funcionarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let funcionario of funcionarios">
      <ion-label>{{funcionario.nome}}</ion-label>
      <ion-buttons>
        <ion-button color="primary" [routerLink]="['../funcionario/edicao', funcionario.id]">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="confirmarExclusao(funcionario)">
          <ion-icon name="trash"  slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['../cadastro-pessoa']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-fab vertical="bottom">
        <ion-fab-button [routerLink]="['/']" >
            <<
        </ion-fab-button>
    </ion-fab>

</ion-content>
