<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Venda</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <form [formGroup]="vendaForm">

    <ion-item>
      <ion-label>Clientes:</ion-label>
      <ion-select formControlName="cliente" multiple="true" placeholder="Selecione os Clientes"
        [compareWith]="compareWith" name="cliente" >
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">
          {{cliente.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Funcionario:</ion-label>
      <ion-select formControlName="funcionario" multiple="true" placeholder="Selecione os Funcionario"
        [compareWith]="compareWith" name="funcionario" >
        <ion-select-option *ngFor="let funcionario of funcionarios" [value]="funcionario">
          {{funcionario.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Total compra: </ion-label>
        <ion-input formControlName="total"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="total.errors">
            <small *ngIf="total.errors.required && (total.dirty || total.touched)">
                O campo total é obrigatório
            </small>
            <small *ngIf="total.errors.minlength && (total.dirty || total.touched)">
                O campo total deve conter no mínimo {{total.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="total.errors.maxlength && (total.dirty || total.touched)">
                O campo total deve conter no máximo {{total.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

     <ion-item>
        <ion-label>Forma pagamento:</ion-label>
        <ion-select interface="popover" formControlName="forma_pagamento" >
          <ion-select-option value="debito">Cartão Débito</ion-select-option>
          <ion-select-option value="credito">Cartão Crédito</ion-select-option>
          <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
          <ion-select-option value="cheque">Cheque</ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="forma_pagamento.errors">
            <small *ngIf="forma_pagamento.errors.required && (forma_pagamento.dirty || forma_pagamento.touched)">
                O forma pagamento é obrigatório
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Data emissão: </ion-label>
        <ion-input formControlName="dt_emissao"
                   type="date">
        </ion-input>
        <ion-text color="danger" *ngIf="dt_emissao.errors">
            <small *ngIf="dt_emissao.errors.required && (dt_emissao.dirty || dt_emissao.touched)">
                O campo dt_emissao é obrigatório
            </small>
            <small *ngIf="dt_emissao.errors.minlength && (dt_emissao.dirty || dt_emissao.touched)">
                O campo dt_emissao deve conter no mínimo {{dt_emissao.errors.minlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Produto:</ion-label>
      <ion-select formControlName="produto" multiple="true" placeholder="Selecione o Produto"
        [compareWith]="compareWith" name="produto" >
        <ion-select-option *ngFor="let produto of produtos" [value]="produto">
          {{produto.descricao}}
        </ion-select-option>
      </ion-select>
    </ion-item>

<!-- <ion-list radio-group>
    <div>
        Condição de venda
    </div>

    <ion-item>
      <ion-label>À Vista</ion-label>
      <ion-radio value="st" (ionSelect)="seleciona(tipo1)" #tipo1></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>À Prazo</ion-label>
      <ion-radio value="st" (ionSelect)="seleciona(tipo2)" #tipo2></ion-radio>
    </ion-item>
  </ion-list> -->

    <ion-fab vertical="bottom"
             horizontal="end">
        <ion-fab-button (click)="salvar()" [disabled]="!vendaForm.valid">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom">
        <ion-fab-button [routerLink]="['/']" >
            <<
        </ion-fab-button>
    </ion-fab>
</form>
</ion-content>
