<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Venda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="vendaForm">
    <ion-item>
        <ion-label position="floating">Cliente: </ion-label>
        <ion-input formControlName="cliente"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="cliente.errors">
            <small *ngIf="cliente.errors.required && (cliente.dirty || cliente.touched)">
                O campo cliente é obrigatório
            </small>
            <small *ngIf="cliente.errors.minlength && (cliente.dirty || cliente.touched)">
                O campo cliente deve conter no mínimo {{cliente.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="cliente.errors.maxlength && (clienteo.dirty || cliente.touched)">
                O campo cliente deve conter no máximo {{cliente.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Funcionario: </ion-label>
        <ion-input formControlName="funcionario"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="funcionario.errors">
            <small *ngIf="funcionario.errors.required && (funcionario.dirty || funcionario.touched)">
                O campo funcionario é obrigatório
            </small>
            <small *ngIf="funcionario.errors.minlength && (funcionario.dirty || funcionario.touched)">
                O campo funcionario deve conter no mínimo {{funcionario.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="funcionario.errors.maxlength && (funcionario.dirty || funcionario.touched)">
                O campo funcionario deve conter no máximo {{funcionario.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Total compra: </ion-label>
        <ion-input formControlName="total"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="total.errors">
            <small *ngIf="total.errors.required && (total.dirty || total.touched)">
                O campo total é obrigatório
            </small>
            <small *ngIf="total.errors.minlength && (total.dirty || total.touched)">
                O campo total deve conter no mínimo {{total.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="total.errors.maxlength && (total.dirty || total.touched)">
                O campo total deve conter no máximo {{total.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

     <ion-item>
        <ion-label>Forma pagamento:</ion-label>
        <ion-select interface="popover" formControlName="forma_pagamento" >
          <ion-select-option value="debito">Cartão Debito</ion-select-option>
          <ion-select-option value="credito">Cartão Credito</ion-select-option>
          <ion-select-option value="dineiro">Dinheiro</ion-select-option>
          <ion-select-option value="cheque">Cheque</ion-select-option>
        </ion-select>
        <ion-text color="danger" *ngIf="forma_pagamento.errors">
            <small *ngIf="forma_pagamento.errors.required && (forma_pagamento.dirty || forma_pagamento.touched)">
                O forma pagamento é obrigatório
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Data emissão: </ion-label>
        <ion-input formControlName="dt_emissao"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="dt_emissao.errors">
            <small *ngIf="dt_emissao.errors.required && (dt_emissao.dirty || dt_emissao.touched)">
                O campo dt_emissao é obrigatório
            </small>
            <small *ngIf="dt_emissao.errors.minlength && (dt_emissao.dirty || dt_emissao.touched)">
                O campo dt_emissao deve conter no mínimo {{dt_emissao.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="dt_emissao.errors.maxlength && (dt_emissao.dirty || dt_emissao.touched)">
                O campo dt_emissao deve conter no máximo {{dt_emissao.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Observações: </ion-label>
        <ion-input formControlName="observacoes"
                   type="text">
        </ion-input>
        <ion-text color="danger" *ngIf="observacoes.errors">
            <small *ngIf="observacoes.errors.required && (observacoes.dirty || observacoes.touched)">
                O campo observacoes é obrigatório
            </small>
            <small *ngIf="observacoes.errors.minlength && (observacoes.dirty || observacoes.touched)">
                O campo observacoes deve conter no mínimo {{observacoes.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="observacoes.errors.maxlength && (observacoes.dirty || observacoes.touched)">
                O campo observacoes deve conter no máximo {{observacoes.errors.maxlength.requiredLength}} caracteres
            </small>
        </ion-text>
    </ion-item>

<!-- <ion-list radio-group>
    <div>
        Condição de venda
    </div>

    <ion-item>
      <ion-label>À Vista</ion-label>
      <ion-radio value="st" (ionSelect)="seleciona(tipo1)" #tipo1></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>À Prazo</ion-label>
      <ion-radio value="st" (ionSelect)="seleciona(tipo2)" #tipo2></ion-radio>
    </ion-item>
  </ion-list> -->

    <ion-fab vertical="bottom"
             horizontal="end">
        <ion-fab-button (click)="salvar()" [disabled]="!vendaForm.valid">
            <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom">
        <ion-fab-button [routerLink]="['/']" >
            <<
        </ion-fab-button>
    </ion-fab>
</form>
</ion-content>
